.actor-page-content {
    margin: auto;
    width: 100%;
    max-width: min(95%, 1280px);
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
    min-height: 100vh;
    color: var(--timberwolf);
}

.actor-portrait-and-details-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.actor-portrait,
.actor-details {
    width: 50%;
}

.actor-portrait-image {
    height: 30vw;
    width: 30vw;
    max-width: 350px;
    max-height: 350px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.actor-page-name {
    color: var(--flame);
}

.actor-biography {
    margin: 3rem auto;
    line-height: 1.4;
}

.actor-page-content .cards-display .cards {
    width: 100%;
    max-width: 80vw;
}

.extra-whitespace {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 520px) {
    .padding-adjustment {
        padding-top: 6rem;
    }

    .actor-portrait-and-details-section {
        flex-direction: column;
    }

    .actor-portrait,
    .actor-details {
        width: 100%;
    }

    .actor-portrait-image {
        width: 80vw;
        height: 80vw;
    }

    .actor-biography {
        margin: 1rem auto;
    }

    .actor-known-movie-poster {
        width: 100%;
        margin: auto;
    }
}
