.actor-page-content {
    margin: auto;
    width: 100%;
    max-width: min(95%, 1280px);
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
    min-height: 100vh;
    color: var(--timberwolf);
}

.actor-portrait-and-details-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.actor-portrait, .actor-details {
    width: 50%;
}

.actor-portrait-image {
    height: 30vw;
    width: 30vw;
    object-fit: cover;
    border-radius: 50%;
}

.actor-page-name {
    color: var(--flame);
}

.actor-biography {
    margin: 3rem auto;
    line-height: 1.4;
}

.actor-known-movies-heading {
    text-align: center;
}

.actor-known-movies-section {
    max-width: min(95vw, 800px);
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
}

.actor-known-for {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
}

.actor-known-movie-poster {
    width: 12rem;
    border-radius: 6px;
}

.actor-known-movie-title {
    text-align: left;
}

.actor-known-movie-release-and-rating {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.actor-known-movie-overview {
    line-height: 1.4;
}

@media only screen and (max-width: 520px) {
    .padding-adjustment {
        padding-top: 6rem;
    }

    .actor-portrait-and-details-section {
        flex-direction: column;
    }

    .actor-portrait, .actor-details {
        width: 100%;
    }

    .actor-portrait-image {
        width: 80vw;
        height: 80vw;
        display: block;
        margin: auto;
    }

    .actor-biography {
        margin: 1rem auto;
    }

    .actor-known-movie-poster {
        width: 100%;
        margin: auto;
    }

    .actor-known-for {
        flex-wrap: wrap;
    }
}