@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");

/* Could probably remove the regular typeface if it is not being used */

@font-face {
    font-family: "Aktiv-Grotesk";
    src: url("./assets/fonts/AktivGrotesk-Regular.otf") format("opentype"),
        url("./assets/fonts/AktivGrotesk-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Aktiv-Grotesk";
    src: url("./assets/fonts/AktivGrotesk-Bold.otf") format("opentype"),
        url("./assets/fonts/AktivGrotesk-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Aktiv-Grotesk";
    src: url("./assets/fonts/AktivGrotesk-Italic.otf") format("opentype"),
        url("./assets/fonts/AktivGrotesk-Italic.ttf") format("truetype");
    font-style: italic;
}

@font-face {
    font-family: "Aktiv-Grotesk";
    src: url("./assets/fonts/AktivGrotesk-Medium.otf") format("opentype"),
        url("./assets/fonts/AktivGrotesk-Medium.ttf") format("truetype");
    font-weight: medium;
}

@font-face {
    font-family: "Aktiv-Grotesk";
    src: url("./assets/fonts/AktivGrotesk-Thin.otf") format("opentype"),
        url("./assets/fonts/AktivGrotesk-Thin.ttf") format("truetype");
    font-weight: thin;
}

@font-face {
    font-family: "Aktiv-Grotesk";
    src: url("./assets/fonts/AktivGrotesk-Light.otf") format("opentype"),
        url("./assets/fonts/AktivGrotesk-Light.ttf") format("truetype");
    font-weight: light;
}

:root {
    --floral-white: #fffcf2;
    --timberwolf: #ccc5b9;
    --black-olive: #403d39;
    --eerie-black: #252422;
    --flame: #eb5e28;
    --body: "Aktiv-Grotesk", sans-serif;
}

* {
    box-sizing: border-box;
    font-family: var(--body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--body);
    font-weight: bold;
}

.calistoga-regular {
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    color: var(--flame);
}

html,
body,
.App {
    background: var(--eerie-black);
    color: var(--floral-white);
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    scrollbar-gutter: stable;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

.padding-adjustment {
    padding-top: 3rem;
}

@media only screen and (min-width: 521px) {
    .padding-adjustment {
        padding-top: 8rem;
    }
}
