.card {
    height: 550px;
    width: 300px;
    margin: 2rem auto;
    border-radius: 8px;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    margin: 1rem auto;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    border-radius: 8px;
    background: var(--black-olive);
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-image {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-image img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
}

.card-front-content {
    margin-top: 1rem;
    padding: 0 1rem;
    text-align: center;
}

.card-front-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card-front-title-year {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70%;
}

.card-front-title-year h4 {
    margin-bottom: 0.25rem;
}

.card-front-title-year p {
    margin-top: 0.25rem;
}

.title-type {
    text-transform: capitalize;
}

.title-tmdb-rating {
    width: fit-content;
    background: var(--flame);
    padding: 0.5rem 1rem;
    text-align: center;
    margin: auto;
    border-radius: 8px;
}

.card-back {
    transform: rotateY(180deg);
}

.card-back-content {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px) grayscale(100%);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.additional-details {
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 0.5rem 1rem;
    border-radius: 8px 8px 0 0;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--black-olive) transparent;
}

.additional-details::-webkit-scrollbar {
    width: 12px;
}

.additional-details::-webkit-scrollbar-track {
    background: transparent;
}

.additional-details::-webkit-scrollbar-thumb {
    background-color: var(--black-olive);
    border-radius: 20px;
    border: 3px solid transparent;
}

.card-back-subheading {
    color: var(--flame);
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.card-back-details {
    color: var(--floral-white);
}

.button-to-view {
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    border: 2px solid var(--flame);
    background: var(--flame);
    padding: 1.5rem 0;
    color: var(--eerie-black);
    transition: 0.2s all ease-in-out;
}

.button-to-view:hover {
    background: transparent;
    color: var(--flame);
    border-top: 2px solid var(--flame);
    border-bottom: 2px solid var(--flame);
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    transition: 0.2s all ease-in-out;
}

.button-to-view:hover .webpage-link {
    color: var(--flame);
}

.link-to-view .webpage-link {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.link-to-view .webpage-link:hover {
    color: var(--floral-white);
}
