.cards-display h2 {
    text-align: center;
    padding: 2rem 0;
}

.cards {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 1rem; */
    /* background: red; */
}
