.cards {
    width: 80vw;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 1rem; */
    /* background: red; */
}

.view-video-test {
    width: 100%;
    margin: 1rem auto;
    height: 60vh;
    display: none;
}