.genre-page-content {
    width: 100%;
}

.genre-page-content-movies {
    width: 100%;
    background-image: linear-gradient(
        45deg,
        hsl(17deg 83% 54%) 0%,
        hsl(12deg 69% 51%) 11%,
        hsl(8deg 62% 48%) 22%,
        hsl(3deg 58% 44%) 33%,
        hsl(358deg 57% 39%) 44%,
        hsl(353deg 61% 33%) 56%,
        hsl(349deg 65% 27%) 67%,
        hsl(346deg 69% 22%) 78%,
        hsl(342deg 75% 17%) 89%,
        hsl(339deg 80% 12%) 100%
    );
    background-attachment: fixed;
}

.genre-page-content-tv {
    width: 100%;
    background-image: linear-gradient(
        45deg,
        hsl(17deg 83% 54%) 0%,
        hsl(3deg 73% 56%) 11%,
        hsl(350deg 62% 52%) 22%,
        hsl(340deg 59% 45%) 33%,
        hsl(330deg 55% 40%) 44%,
        hsl(317deg 47% 34%) 56%,
        hsl(296deg 37% 29%) 67%,
        hsl(269deg 35% 27%) 78%,
        hsl(242deg 33% 23%) 89%,
        hsl(221deg 51% 16%) 100%
    );
    background-attachment: fixed;
}

.genre-page-content h2 {
    display: none;
}

.genre-page-heading {
    font-size: 8vw;
    text-align: center;
}
