.hero-section-parent {
    width: 100vw;
    background: url("./assets/images/hero-section-background.png");
    background-size: cover;
}

.hero-section-parent-image-filter {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
    backdrop-filter: blur(2px) grayscale(100%);
}

.hero-section {
    display: block;
    width: 80%;
    margin: auto;
    padding: 2rem 0;
}

.calistoga-regular {
    font-size: 5rem;
}

.hero-subtitle {
    font-size: 1.5rem;
    max-width: 450px;
    line-height: 1.5;
}

.main-search-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 0;
}

.main-search-input:focus {
    outline: none;
    box-shadow: var(--flame) 0px 4px 12px -2px, var(--flame) 0px 4px 8px -4px;
}

.main-search-input {
    width: 100%;
    padding: 1rem;
    border: 2px solid var(--floral-white);
    border-radius: 6px;
    font-size: 1rem;
}

.main-search-button {
    padding: 0.5rem 2rem;
    border: 2px solid var(--flame);
    border-radius: 6px;
    background: var(--flame);
    color: var(--eerie-black);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.1rem;
    transition: 0.25s all ease-in-out;
}

.main-search-button:hover {
    background: var(--eerie-black);
    color: var(--flame);
    transition: 0.25s all ease-in-out;
    cursor: pointer;
}

@media only screen and (max-width: 512px) {
    .calistoga-regular {
        font-size: 3rem;
    }

    .hero-section {
        width: 90%;
    }

    .main-search-bar {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-search-input,
    .main-search-button {
        width: 90vw;
        padding: 1rem;
        margin: 0;
    }
}
