.movie-page-content {
    width: 100%;
    height: 100%;
}

.view-video-test {
    width: 100%;
    margin: 1rem auto;
    height: 60vh;
    /* display: none; */
}

.page-link-back {
    display: block;
    text-align: center;
    transform: translateY(50%);
}
