.navbar-parent {
    width: 100%;
    position: fixed;
    z-index: 5;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
}

.navbar-content {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.navbar-parent .calistoga-regular {
    display: none;
}

.main-logo img {
    max-width: 100px;
}

.navbar-links ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.navbar-links ul li {
    transition: 0.15s all ease-in-out;
}

.navbar-links ul li:hover {
    color: var(--flame);
    transition: 0.15s all ease-in-out;
    cursor: pointer;
}

.webpage-link {
    text-decoration: none;
    color: var(--floral-white);
    transition: 0.15s color ease-in-out;
}

.webpage-link:hover {
    color: var(--flame);
    transition: 0.15s color ease-in-out;
}

@media only screen and (max-width: 520px) {
    .navbar-parent, .navbar-content {
        height: 4rem;
    }

    .main-logo {
        height: 100%;
    }

    .main-logo a {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
    }

    .navbar-parent .calistoga-regular {
        display: block;
        font-size: 1.5rem;
    }

    .main-logo img {
        height: 4rem;
    }

    .navbar-links {
        display: none;
    }
}
