.popular-titles-page-content {
    background-image: linear-gradient(
        45deg,
        hsl(270deg 37% 46%) 0%,
        hsl(265deg 36% 49%) 11%,
        hsl(261deg 37% 52%) 22%,
        hsl(256deg 41% 54%) 33%,
        hsl(252deg 44% 57%) 44%,
        hsl(247deg 48% 60%) 56%,
        hsl(242deg 53% 62%) 67%,
        hsl(237deg 60% 64%) 78%,
        hsl(233deg 67% 65%) 89%,
        hsl(229deg 76% 66%) 100%
    );
    background-attachment: fixed;
    min-height: 100vh;
}

.popular-titles-page-content .cards-display h2 {
    display: none;
}
