.tv-page-content-page-wrap {
    width: 100%;
    background-image: linear-gradient(
        180deg,
        hsl(221deg 51% 16%) 0%,
        hsl(204deg 99% 11%) 11%,
        hsl(200deg 100% 10%) 22%,
        hsl(193deg 100% 8%) 33%,
        hsl(185deg 100% 6%) 44%,
        hsl(174deg 86% 6%) 56%,
        hsl(160deg 54% 6%) 67%,
        hsl(130deg 27% 6%) 78%,
        hsl(89deg 21% 5%) 89%,
        hsl(60deg 5% 4%) 100%
    );
}

.tv-banner-gradient {
    background-image: linear-gradient(
        to bottom,
        transparent,
        #14213D
    );
}

.page-icon {
    display: inline-block;
    width: 1rem;
    filter: invert(100%);
    margin-right: 8px;
    vertical-align: middle;
}

.tv-season-episode-selector {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 300px;
    margin: 1rem auto;
    justify-content: space-between;
    align-items: center;
    gap: 20%;
}

.tv-season-selector-section,
.tv-episode-selector-section {
    width: 40%;
}

#tvSeasonSelector,
#tvEpisodeSelector {
    width: 100%;
    height: 3rem;
    padding: 1rem;
    background: var(--black-olive);
    color: var(--floral-white);
    border: none;
    border-radius: 0.5rem;
}

.selector-label {
    display: block;
    margin: 1rem 0;
}

.tv-season-overview-section {
    display: block;
    margin: 3rem auto;
    width: 100%;
    max-width: 600px;
    line-height: 1.4;
}

.tv-season-prefix-span {
    font-weight: bold;
}

.no-overview {
    text-align: center;
}

@media only screen and (max-width: 520px) {
    .tv-banner-gradient-mobile {
        background-image: linear-gradient(
        to bottom,
        transparent,
        #14213D
    );
    }

    .tv-season-episode-selector {
        flex-direction: column;
        gap: 20%;
    }

    .tv-season-selector-section,
    .tv-episode-selector-section {
        width: 100%;
    }
}
